<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEWS</title>
    <link rel= "stylesheet"  type="text/css" href="/css/styles.css">
</head>
<body>
    <nav>
        <label for="country">Country:</label>
        <select id="countries">
            <option value="any" <%= country === 'any' ? 'selected' : '' %>>Global</option>
            <option value="us" <%= country === 'us' ? 'selected' : '' %>>USA</option>
            <option value="jp" <%= country === 'jp' ? 'selected' : '' %>>Japan</option>
            <option value="fr" <%= country === 'fr' ? 'selected' : '' %>>France</option>
            <option value="kr" <%= country === 'kr' ? 'selected' : '' %>>Korea</option>
            <option value="nz" <%= country === 'nz' ? 'selected' : '' %>>New Zealand</option>
            <option value="ca" <%= country === 'ca' ? 'selected' : '' %>>Canada</option>
          </select> 
    </nav>
    <div class="wrapper">
        <div class="news">
            <% if(articles != null) { %>
            <% articles.forEach(function(article, index) { %>
                <% if(article.imageUrl!=null){ %>
                <a class="newscard">
                    <img src="<%- article.imageUrl %>" alt="<%- article.title %>">
                    <h2><%- article.title %></h2>
                    <p><%- article.description %></p>
                </a>
                <% } %>
            <% }) %>
            <% } else { %>
                No posts found.
            <% } %>
        </div>
    </div>  
    <script>
        document.getElementById('countries').addEventListener('change', function() {
            const country = this.value;
            window.location.href = `/?country=${country}`;
        });
    </script>
</body>
</html> 